@model RiskAnalysis.Services.DTO.UnsettledBetModel

<div class="row">
			<div class="col-md-1 text-center">@Model.Id</div>
				<div class="col-md-1 text-center">@Model.CustomerId</div>
				<div class="col-md-2 text-center">@Model.CustomerName</div>
				<div class="col-md-2 text-center">@Model.EventId</div>
				<div class="col-md-2 text-center">@Model.ParticipantId</div>
				<div class="col-md-2 text-center">@Model.Stake</div>
				<div class="col-md-2 text-center">@Model.ToWin</div>
</div>